@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif; 
}

#app {
    text-align: left; 
}

.app-container {
    padding: 2rem;
}

.btn-primary {
    @apply bg-lime-500 text-white font-bold py-3 px-6 rounded-lg hover:bg-lime-700 transition-colors;
}

